# Backend 
BACKEND_PORT=8080
JWT_SECRET=xxxxxx
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=xxxxxx
JWT_REFRESH_EXPIRES_IN=7d
EMAIL_USER=xxxxxx
EMAIL_PASS=xxxxxx
# VNPay
VNPAY_TMN_CODE=xxxxxx
VNPAY_HASH_SECRET=xxxxxx
VNPAY_RETURN_URL=https://{YOURHOST}/api/payment/vnpay/return
VNPAY_API_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_API_QUERY_URL=https://sandbox.vnpayment.vn/merchant_webapi/merchant.html

# Frontend 
FRONTEND_PORT=4000
FRONTEND_URL=http://localhost:4000

VITE_API_URL=http://localhost:8080
VITE_BACKEND_URL=http://localhost:8080
VITE_GOOGLE_CLIENT_ID=XXXXX



# Mongo
DB_PORT=27017
DB_HOST=mongo
DB_NAME=e_commerce_final_dev
MONGO_URI=mongodb://mongo:27017/e_commerce_final_dev
 
# Cloudinary
CLOUDINARY_CLOUD_NAME=xxxxxx
CLOUDINARY_API_KEY=xxxxxx
CLOUDINARY_API_SECRET=xxxxxx
