# Backend 
BACKEND_PORT=8080
JWT_SECRET=change-me
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=change-me-too
JWT_REFRESH_EXPIRES_IN=30d
EMAIL_USER=example@gmail.com
EMAIL_PASS=xxxxxxxx

# VNPay
VNPAY_TMN_CODE=xxxx
VNPAY_HASH_SECRET=secretkey
VNPAY_RETURN_URL=url_to_return_after_payment
VNPAY_API_URL=xx
VNPAY_API_QUERY_URL=xx

# Frontend
FE_IMAGE=my-ecommerce-frontend
FRONTEND_PORT=4000
FRONTEND_URL=http://localhost:4000
API_URL=https://onie-brimless-sheila.ngrok-free.dev 

