# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist
.DS_Store
.idea
.vscode

/gateway/node_modules
/services/**/node_modules
/fe/node_modules
/BE/node_modules/

# file này chứa biến môi trường, thông tin nhạy cảm
.env